*.app
*.flf
*.zip
rad.json
*.bclicense
*.g.xlf
.DS_Store
Thumbs.db
TestResults*.xml
bcptTestResults*.json
BuildOutput.txt
rad.json
.output/
.dependencies/
.buildartifacts/
.alpackages/
.packages/
.alcache/
.altemplates/
.snapshots/
cache_*
~$*
Appointment/.vscode/launch.json
Appointment/.alcache/*.*
Appointment/.vscode/.alcache/*.*
Appointment/.altemplates/*.*
Appointment/.vscode/.altemplates/*.*
Appointment/.altestrunner/*.*
Appointment/.vscode/.altestrunner/*.*
Appointment/.snapshots/*.*
LicenseCheck/.vscode/launch.json
LicenseCheck/.alcache/*.*
LicenseCheck/.vscode/.alcache/*.*
LicenseCheck/.altemplates/*.*
LicenseCheck/.vscode/.altemplates/*.*
LicenseCheck/.altestrunner/*.*
LicenseCheck/.vscode/.altestrunner/*.*
LicenseCheck/.snapshots/*.*
SessionManagement/.vscode/launch.json
SessionManagement/.alcache/*.*
SessionManagement/.vscode/.alcache/*.*
SessionManagement/.altemplates/*.*
SessionManagement/.vscode/.altemplates/*.*
SessionManagement/.altestrunner/*.*
SessionManagement/.vscode/.altestrunner/*.*
SessionManagement/.snapshots/*.*
