*.app
*.flf
*.zip
rad.json
*.bclicense
*.g.xlf
.DS_Store
Thumbs.db
TestResults*.xml
bcptTestResults*.json
BuildOutput.txt
rad.json
.output/
.dependencies/
.buildartifacts/
.alpackages/
.packages/
.alcache/
.altemplates/
.snapshots/
cache_*
~$*
Derby/.vscode/launch.json
Derby/.alcache/*.*
Derby/.vscode/.alcache/*.*
Derby/.altemplates/*.*
Derby/.vscode/.altemplates/*.*
Derby/.altestrunner/*.*
Derby/.vscode/.altestrunner/*.*
Derby/.snapshots/*.*
